.sidebar-list {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0.063rem;
    padding: 10px 0.375rem;
    color: rgb(112, 112, 112);
    gap: 8px;
    border-radius: 0.625rem;
    background-color: transparent;
}

.sidebar-list:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.sidebar-list-select {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0.063rem;
    padding: 10px 0.375rem;
    color: white;
    gap: 8px;
    border-radius: 0.625rem;
    background-color: rgb(0, 0, 0);
}